{% extends 'layout.twig' %}

{% block title %}
    <h4>{{ title }}</h4>
{% endblock %}

{% block subtitle %}
    <p>{{ subtitle }}</p>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="card-group">
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Currencies</h3>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, iusto nemo quasi suscipit velit illo odio voluptatum debitis nostrum? A incidunt harum aspernatur, necessitatibus nulla doloremque voluptatibus explicabo facilis porro? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolor vero quo architecto excepturi quos molestias quia minima exercitationem magnam veritatis distinctio mollitia officiis explicabo corporis, quibusdam facere. Officiis, sequi!</p>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae soluta maiores officia cumque amet earum numquam quidem, debitis maxime rem exercitationem ea consequatur minima repellendus esse expedita culpa sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusantium, amet expedita in consequatur veniam repellat molestias sint illum temporibus rerum nulla sunt voluptas, iure, corporis distinctio assumenda suscipit fugit.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="currenciesAPI">
					<div class="card">
						<div class="card-body">
							<div class="liens">
								<h5 class="lien">/api/1/currencies</h5>
							</div>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae soluta maiores officia cumque amet earum numquam quidem, debitis maxime rem exercitationem ea consequatur minima repellendus esse expedita culpa sit.
							</p>
							<a href="api/1/currencies" class="btn btn-warning">Test Currency API</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
