<!DOCTYPE html>
<html lang="en">

	<body>
		<div class="all">
			<div class="container">
				{% block navbar %}
					{% include 'partials/navigation.twig' %}
				{% endblock %}
				
				{% block head %}
					{% include 'partials/header.twig' %}
				{% endblock %}

				{% block content %}{% endblock %}


				{% block footer %}
					{% include 'partials/footer.twig' %}
				{% endblock %}
			</div>
		</div>

		{% block scripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/763549d8c8.js" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html></body></html>
