{% extends 'layout.twig' %}

{% block title %}
    <h4>{{ title }}</h4>
{% endblock %}

{% block subtitle %}
    <p>{{ subtitle }}</p>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="card-group">
			<div class="col-sm-8">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">Rates</h3>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, iusto nemo quasi suscipit velit illo odio voluptatum debitis nostrum? A incidunt harum aspernatur, necessitatibus nulla doloremque voluptatibus explicabo facilis porro?</p>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae soluta maiores officia cumque amet earum numquam quidem, debitis maxime rem exercitationem ea consequatur minima repellendus esse expedita culpa sit.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ratesAPI">
					<div class="card">
						<div class="card-body">
							<div class="liens">
								<h5 class="lien">/api/1/rates</h5>
							</div>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quae soluta maiores officia cumque amet earum numquam quidem, debitis maxime rem exercitationem ea consequatur minima repellendus esse expedita culpa sit.
							</p>
							<a href="api/1/rates" class="btn btn-warning">Test Rates API</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
